<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>gps_tracker</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs your location to track trips.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app needs background location for continuous trip tracking.</string>
</dict>
</plist>
